{% extends 'base.html' %}

{% block title %}{{ curso.titulo }}{% endblock %}

{% block content %}
<h2>{{ curso.titulo }}</h2>
<p><strong>Descrição:</strong> {{ curso.descricao }}</p>
<p><strong>Categoria:</strong> {{ curso.categoria.nome }}</p>
<p><strong>Publico alvo:</strong> {{ curso.publico_alvo }}</p>
<p><strong>Requisitos:</strong> {{ curso.requisitos }}</p>
<p><strong>Instrutores:</strong></p>
<ul>
  {% for instrutor in curso.instrutores.all %}
    <li>{{ instrutor.nome|title }}</li>
  {% empty %}
    <li>Sem instrutores cadastrados.</li>
  {% endfor %}
</ul>

{% if user.is_authenticated and ja_inscrito %}
<div class="acoes">
  <a href="{% url 'acessar_curso' curso.pk %}" class="btn btn-azul">Ir para o curso</a>
  <form method="post" action="{% url 'cancelar_curso' curso.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-vermelho" onclick="return confirm('tem certeza que deseja cancelar sua matrícula?')">
      Cancelar matrícula
    </button>
    </form>
</div>
{% elif user.is_authenticated %}
  <form method="post" action="{% url 'inscrever_curso' curso.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-azul">Inscrever-se</button>
  </form>

{% else %}
  <p>
    <a href="{% url 'login' %}" class="btn btn-azul">Faça login</a> para se inscrever.
    <a href="{% url 'index' %}" class="btn btn-azul">Voltar</a>
  </p>
{% endif %}



{% if messages %}
  <ul>
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
